.container{
    grid-template-columns: 1fr;
    grid-template-rows: 87% 10%;

    height: 100vh;
}



.main__article_content_1{
    width: 100vw;
    height: 100%;
    
    order: 1;
}

.content__logo{
    height: 100%;
}

.main__article__content_2{
    width: 100vw;
    height: 100%;

    grid-template-rows: 10% 90%;
}   

    /* header */

.header__nav__ul{
font-size: 1.8em;
}
.header__nav{
height: 100%;
}
.header__nav__ul a{
min-width: 40px;
}
.header__nav__ul a span{
display: none;
}

    /* fin del header */    
.content__title{
font-size: 2.8rem;
}
.content__text{
font-size: 1.8em;
line-height: 2rem;
}
.content{
padding: 15% 5rem 0;
height: auto;
        
margin-top: 10rem;
}
