html{
    background-position: center;
}

/* hedear */

.body__header{
width: 100%;
}
.header__nav-ul li{
margin-right: 1em;
}
.header__nav-ul a{
font-size: 1.8em;
padding: 0.2em;
}

.header__nav-ul a span{
display: none;
}

/* main */  
.main__tittle{
    font-size: 4rem;
}


.contact__container{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 0 2rem;
}

.contact__container > *{
    padding: 2rem .5rem;
}

.contact__form form p{
    margin: 0;
    padding: 2rem 2.3rem;
}

.contact__form form{
    display: inline;
}


.contact__form h3{
    margin-left: .8em;
}

.contact__info{
    background-color: black;
}

.contact__info > *{
    text-align: center;
    margin-top: 1rem;     
}