html{
    background-position: center;
    }
    
    /* hedear */

.body__header{
    width: 100%;
    }
.header__nav-ul li{
    margin-right: 1em;
}
.header__nav-ul a{
    font-size: 1.4em;
    padding: 0.2em;
    }

.header__nav-ul a span{
    display: none;
    }
    /* main */

.content{
    height: 60vh;
}
.content__text{
    padding: 0;
}
.content__textleft{
    padding: 0;
}

    /* footer */
.footer_content{
    font-size: 1.8rem;
}
.text{
    font-size: 1.3rem;
}