/* inicio del main */
.contenedor__padre {
    @include grid(2, 1fr, 0);
    /* primer 50% de la pantalla */
    /* Fondo */
    .main__article_content_1 {
        background: rgba(255, 255, 255, 0.5);
        width: 50vw;
        height: 100vh;

        @include flex(row, center, center);

        margin: auto;

        /* logo */
        .content__logo {
            height: min-content;

            &-img {
                max-width: 100%;
            }
        }
    }

    /* inicio del seungo 50% de la pantalla */
    /* fondo */
    .main__article__content_2 {
        width: 50vw;
        height: 100vh;
        background: $principal;

        @include grid(0,0, 2, 20vh 80vh);
        

        /* header */
        .header__nav {
            width: 100%;
            margin-top: 2rem;
            @include flex(row,center,center);

            &__ul {
                @include flex(row, space-evenly, center);
                width: 80%;
                font-size: 2em;

                a {
                    color: $secondary;
                    padding: 1rem;

                    @include flex(column,flex-start,center);

                    transition: all .3s ease-in-out;
                    min-width: 78px;
                }

                a:hover {
                    font-size: 2.3rem;
                }

                li {
                    list-style-type: none;

                    span {
                        font-size: .5em;
                        opacity: 0;
                    }
                }

                li:hover span {
                    opacity: 1;
                    color: $third;
                }
            }
        }

        /* content */
        .contentText {
            padding: 15% 10rem 0 10rem;

            @include flex(column, flex-start, flex-start);

            &__title {
                font-size: 4rem;
            }

            &__text {
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 799px) {
    .contenedor__padre {
        @include grid(1,1fr, 2, 87% 10%);

        height: 100vh;

        .main__article_content_1 {
            width: 100vw;
            height: 100%;

            order: 1;

            display: none;

            .content__logo {
                height: 100%;
            }
        }

        .main__article__content_2 {
            width: 100vw;

            @include grid(0,0, 2, 10% 20%);

            // header
            .header__nav {
                height: 100%;

                &__ul {
                    font-size: 1.4em;

                    a {
                        min-width: 40px;

                        span {
                            display: none;
                        }
                    }
                }
            }

            // content
            .contentText {
                padding: 15% 5rem 0;
                height: auto;

                margin-top: 10rem;

                &__title {
                    font-size: 2.8rem;
                }

                &__text {
                    font-size: 1.8em;
                    line-height: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1079px) {
    body {
        background-position: center;
    }

    .contenedor__padre {
        .main__article__content_2 {
            .contentText {
                padding: 15% 5rem 0;
            }
        }
    }


}

/* animation */
.main__article_content_1{
    animation-name: mariposa1;
    animation-duration:0.65s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

@keyframes mariposa1 {
    0%{
        transform: translateX(-150%);
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.main__article__content_2{
    animation-name: mariposa2;
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

@keyframes mariposa2 {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}