
/* inicio del main */

.content__main {
    @include flex(column, none, none);

    .content {
        height: 100vh;
    
        transition: all .3s ease-in-out;
    
        margin: 6rem 0;

        .content__text {
            width: 40%;
            height: 100%;
        
            background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
        
        
            padding: 5rem;
        
            padding: 0.5rem;
        
            @include flex(column, center, center);
            
        }
        .content__textleft {
            @extend .content__text;
        
            background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
        
            position: absolute;
            right: 0;
        
            @include flex(column, center, center);
        }
        .title-content {
            color: $secondary;
            font-size: 1.8em;
            font-weight: bold;
        }
    }
    // img-1
    .content__main__1 {
        @include bg-styleb(colesioRomano);
    }

    // img-2
    .content__main__2 {
        @include bg-styleb(monteArat);
    }

    // img-3
    .content__main__3 {
        @include bg-styleb(frontera);
    }

    // img-4
    .content__main__4 {
        @include bg-styleb(monteSinai);
    }

    // img-5
    .content__main__5 {
        @include bg-styleb(piramide);
    }

}

@media (max-width: 800px) {
     .content__main{   
        .content {
            height: 60vh;

            .content__text {
                padding: 0;
            }

            .content__textleft {
                padding: 0;
            }

            h2{
                margin: 5px;
            }
            p{
                margin: 5px;
            }
        }
    }
}