/* inicio del main */

.body__main {
    height: auto;
    margin: 3.5rem auto;

    .main__section {
        @include grid(2, 1fr, 2, 1fr);

        gap: 2em;
        justify-content: center;

        height: auto;
        margin: 1rem 1rem;

        .content {
            max-height: 650px;
            height: 50vh;

            border: solid 0.1px rgb(95, 95, 95);
            border-radius: 2%;
            overflow: hidden;
            box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);

            video {
                width: 100%;
                height: 80%;
            }

            .content__p {
                width: 100%;
                height: 23%;

                background: rgba(0, 0, 0, 0.4);

                @include flex(row, center, center);

                .text {
                    color: white;
                    font-size: 1.8rem;
                    padding: 0.5em;
                }
            }
        }
    }
}

@media (max-width: 900px) {

    /* main */

    .body__main {
        .main__section {
            @include grid(1, 1fr, 4, 1fr);

            font-size: 1.8rem;

            .content {
                max-width: none;
                height: 70vh;

                .content__p {
                    min-width: none;
                    width: auto;
                    height: 23%;

                    background: rgba(0, 0, 0, 0.4);

                    @include flex(row, center, center);
                }
            }
        }
    }
}