html{
    background-position: center;
    }
    
    /* hedear */

.body__header{
    width: 100%;
    }
.header__nav-ul li{
    margin-right: 1em;
}
.header__nav-ul a{
    font-size: 1.4em;
    padding: 0.2em;
    }

.header__nav-ul a span{
    display: none;
    }

    /* main */
.main__section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    font-size: 1.8rem;
    }

.content{
    max-width: none;
    height: 70vh;
}
.content__p{
    min-width: none;
    width: auto;
    height: 23%;

    background: rgba(0, 0, 0, 0.4);

    justify-content: center;
    align-items: center;
}

.body__footer{
    font-size: 1.8rem;
}