*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff;
  display: inline-block; }

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../image/img_index/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit; }

.text {
  color: #fff;
  font-size: 1.6em; }

/* Helpers */
.flex-grid {
  display: grid; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.here {
  text-align: center; }

.here__link {
  text-decoration: line-through;
  text-decoration-color: #ffd25f; }

/* inicio del main */
.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(0, 1fr);
  /* primer 50% de la pantalla */
  /* Fondo */
  /* inicio del seungo 50% de la pantalla */
  /* fondo */ }
  .contenedor .main__article_content_1 {
    background: rgba(255, 255, 255, 0.5);
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* logo */ }
    .contenedor .main__article_content_1 .content__logo {
      height: min-content; }
      .contenedor .main__article_content_1 .content__logo-img {
        max-width: 100%; }
  .contenedor .main__article__content_2 {
    width: 50vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(0, 0);
    grid-template-rows: repeat(2, 20vh 80vh);
    /* header */
    /* content */ }
    .contenedor .main__article__content_2 .header__nav {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .contenedor .main__article__content_2 .header__nav__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        font-size: 2em; }
        .contenedor .main__article__content_2 .header__nav__ul a {
          color: #fff;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          transition: all .3s ease-in-out;
          min-width: 78px; }
        .contenedor .main__article__content_2 .header__nav__ul a:hover {
          font-size: 2.3rem; }
        .contenedor .main__article__content_2 .header__nav__ul li {
          list-style-type: none; }
          .contenedor .main__article__content_2 .header__nav__ul li span {
            font-size: .5em;
            opacity: 0; }
        .contenedor .main__article__content_2 .header__nav__ul li:hover span {
          opacity: 1;
          color: #ffd25f; }
    .contenedor .main__article__content_2 .content {
      padding: 15% 10rem 0 10rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .contenedor .main__article__content_2 .content__title {
        font-size: 4rem; }
      .contenedor .main__article__content_2 .content__text {
        font-size: 2rem; }

@media screen and (max-width: 799px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 87% 10%);
    height: 100vh; }
    .contenedor .main__article_content_1 {
      width: 100vw;
      height: 100%;
      order: 1;
      display: none; }
      .contenedor .main__article_content_1 .content__logo {
        height: 100%; }
    .contenedor .main__article__content_2 {
      width: 100vw;
      display: grid;
      grid-template-columns: repeat(0, 0);
      grid-template-rows: repeat(2, 10% 20%); }
      .contenedor .main__article__content_2 .header__nav {
        height: 100%; }
        .contenedor .main__article__content_2 .header__nav__ul {
          font-size: 1.4em; }
          .contenedor .main__article__content_2 .header__nav__ul a {
            min-width: 40px; }
            .contenedor .main__article__content_2 .header__nav__ul a span {
              display: none; }
      .contenedor .main__article__content_2 .content {
        padding: 15% 5rem 0;
        height: auto;
        margin-top: 10rem; }
        .contenedor .main__article__content_2 .content__title {
          font-size: 2.8rem; }
        .contenedor .main__article__content_2 .content__text {
          font-size: 1.8em;
          line-height: 2rem; } }

@media screen and (max-width: 1079px) {
  body {
    background-position: center; }
  .contenedor .main__article__content_2 .content {
    padding: 15% 5rem 0; } }

/* animation */
.main__article_content_1 {
  animation-name: mariposa1;
  animation-duration: 0.65s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out; }

@keyframes mariposa1 {
  0% {
    transform: translateX(-150%);
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.main__article__content_2 {
  animation-name: mariposa2;
  animation-duration: 0.7s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out; }

@keyframes mariposa2 {
  0% {
    transform: translateX(0);
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
