

/* variables */

:root {
    --principal: rgba(0, 0, 0, 0.6);
    --secondary: #fff;
    --third: #ffd25f;
    --background-white:rgba( 0, 0, 0, );
}

/* normalize */

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Globals */
html{
    background:black;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
}  

body{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color:  inherit;
}

/* Helpers */

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.contenedor{
    max-width: 1080px ;
    margin: 0 auto;
}

/* Helpers content */

.content{
   height: 100vh;
  

   justify-content: center;
   align-items : flex-end;
   
   transition: all .3s ease-in-out;
   
   margin: 6rem 0;
}

.content__text{
    width: 40%;
    height: 100%;

    background: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, .9),rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6   ), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
    

    align-items: center;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content__textleft{
    width: 40%;
    height: 100%;

    background: linear-gradient(to left , rgba(0, 0, 0, 1),rgba(0, 0, 0, .9),rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6   ), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
    

    align-items: center;
    padding: 5rem;

    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    color: var(--secondary);
    font-size: 1.6em;
}

.title-content{
   color: var(--secondary); 
   font-size: 1.8em;
   font-weight: bold;
}

/* Inicio del header */

.body__header{
    height: 11vh;
    width: 100%;
    background: var(--background-white);
}

.header__nav-ul{
    justify-content: center;
    align-items: center;
}

.header__nav-ul a{
    color: var(--secondary);
    font-size: 2rem;
    padding:  0 2em;
    text-transform:uppercase;
    transition: all .3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav-ul span{
    opacity: 0;
    font-size: .5em;
    color: var(--third);
}

.header__nav-ul a:hover{
    font-size: 2.3rem;
}

.header__nav-ul li:hover span,
.here__link span {
    opacity: 1;
}
/* final del header */


/* inicio del main */

.main__section{
    width: 100%;
    margin: 2em 1rem;
    gap: 2em;
}
         /* primer imagen */

.main__content__1{
    background: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(../image/img_photographs/pexels-israel-fernandez-11166708.jpg);
    background-position: center;
    background-size: cover;

    z-index: 999999;
    border-radius: 12px;

    width: 100%;
    height: 100%;
}


        /* fin de la primer img */

        /* inicio segunda img */

.main__content__2{
    background: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(../image/img_photographs/1200px-Mount_Ararat_and_the_Araratian_plain_\(cropped\).jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}



    /* termina la segunda img */

    /* inicia la tercer img */

.main__content__3{
    background: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(../image/img_photographs/puente.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}



    /* fin de la tecer img */

    /* inicio de la cuerata img */

.main__content__4{
    background: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(../image/img_photographs/Mount_Moses.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}


    /* fin de la cuerata img */
    /* Quinta img */
.main__content__5{
    background: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(../image/img_photographs/torre.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 12px;

    width: 100%;
    height: 100%;
}
    /* fin de la quinta img */

/* fin del main */


/* inicio del footer */

.body__footer{
    width: 100%;
    height: 8vh;
    background: var(--background-white);
}
.footer_content{
    width: 100%;

    justify-content: space-between;
    align-items: center;

    font-size: 2em;

}

.footer_content > *{
    margin: 0 1rem;
}

.here{
    text-align: center;
}

.here__link{
    text-decoration:line-through;
    text-decoration-color: var(--third);
}

.footer_content span{
    opacity: 1;
    font-size: .5em;
    color: var(--third);
}

.footer_content a:hover{
    text-decoration: none;
}
/* fin del footer */

/* animacion */
    /* header */
    header,
    .main__content,
    .footer_content{
        animation-name: principal;
        animation-duration: 0.5s;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes principal {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    /* main */

/* @media (max-width:799px){
    html{
        background-position: center;
        }
        
        /* hedear */
    
    /* .body__header{
        width: 100%;
        }
    .header__nav-ul li{
        margin-right: 1em;
    }
    .header__nav-ul a{
        font-size: 1.8em;
        padding: 0.2em;
        }
    
    .header__nav-ul a span{
        display: none;
        } */
        /* main */
/* 
    .content{
        height: 60vh;
    }

        /* footer */
    /* .footer_content{
        font-size: 1.8rem;
    }
}      */