

/* variables */

:root {
    --principal: rgba(0, 0, 0, 0.6);
    --secondary: #fff;
    --third: #ffd25f;
    --background-white:rgba(0, 0, 0, 0);
}

/* normalize */

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Globals */
html{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url(../image/img_index/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
}   

body{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color:  inherit;
}

/* Helpers */

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1080px ;
    margin: 0 auto;
}

/* helpers content */
.content{
    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items : flex-end;
}
.content__description{
    width: 100%;

    background: var(--principal);
    box-shadow: inset 0px 4px 4px var(--principal);

    justify-content: center;
    align-items: center;
}

.fontsizee{
    font-size: 2rem;
}

.text{
    color: var(--secondary);
    font-size: 2rem;
    padding: 1rem;
}

/* Inicio del header */

.body__header{
    height: 11vh;
    width: 100%;
    background: var(--background-white);
}

.header__nav-ul{
    justify-content: center;
    align-items: center;
}

.header__nav-ul a{
    color: var(--secondary);
    font-size: 2rem;
    padding:  0 2em;
    text-transform:uppercase;
    transition: all .3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav-ul span{
    opacity: 0;
    font-size: .5em;
    color: var(--third);
}

.header__nav-ul a:hover{
    font-size: 2.3rem;
    color: var(--secondary);
}

.header__nav-ul li:hover span,
.here__link span {
    opacity: 1;
}
/* final del header */



/* inicio main */

.main__content{
    width: auto;
    height: auto;
}



    /* inicio de la primera seccion */

.content__first__article{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-size: cover;
    background-position: center;
}

    /* final de la primera seccion */



    /* inicio de la segunda seccion */

.content__second__article{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/img_scenary/Salar-de-Uyuni-Bolivia.jpg);
        background-size: cover;
        background-position: center;
}

    /* final de la segunda seccion */



    /* inicoi de la tercera imagen */

.content__three__article{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/img_scenary/Cano-Cristales-Los-Ochos-cano-cristales.com_.jpg);
        background-size: cover;
        background-position: center;
}

    /* final de la tercera imagen */

/* fin del main */

/* inicio del footer */

.body__footer{
    width: 100%;
    height: 8vh;
    background: var(--background-white);
}
.footer_content{
    width: 100%;

    justify-content: space-between;
    align-items: center;

    font-size: 2em;
}


.here{
    text-align: center;
    text-transform: uppercase;
}

.here__link{
    text-decoration:line-through;
    text-decoration-color: var(--third);
}

.footer_content span{
    opacity: 1;
    font-size: .5em;
    color: var(--third);
}

.footer_content a:hover{
    text-decoration: none;
}
/* fin del footer */

/* animacion */
    /* header */
    header{
        animation-name: cabeza;
        animation-duration: 0.5s;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes cabeza {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

/* 
@media (max-width:799px){
    html{
        background-position: center;
        } */
        
        /* hedear */
    
    /* .body__header{
        width: 100%;
        }
    .header__nav-ul li{
        margin-right: 1em;
    }
    .header__nav-ul a{
        font-size: 1.8em;
        padding: 0.2em;
        }
    
    .header__nav-ul a span{
        display: none;
        } */
        /* main */

    

        /* footer */
    /* .footer_content{
        font-size: 1.8rem;
    }
} */