$principal: rgba(0, 0, 0, 0.5);
$secondary: #fff;
$third: #ffd25f;
$background-white:rgba( 0, 0, 0, 0 );

$imagenes:(
    fondo:url(../image/img_index/fondo.jpg),

    colesioRomano: url(../image/img_photographs/coliseoRomano.svg),
    monteArat: url(../image/img_photographs/Mount_Ararat.svg),
    frontera: url(../image/img_photographs/puente.svg),
    monteSinai: url(../image/img_photographs/Mount_Moses.svg),
    piramide: url(../image/img_photographs/torre.svg),

    aura: url(../image/img_scenary/aura.svg),
    bolivia: url(../image/img_scenary/salar.svg),
    colombia: url(../image/img_scenary/colombia.svg)
)