$principal: rgba(0, 0, 0, 0.5);
$secondary: #fff;
$third: #ffd25f;
$background-white:rgba( 0, 0, 0, 0 );

$imagenes:(
    fondo:url(../image/img_index/fondo.jpg),

    colesioRomano: url(../image/img_photographs/pexels-israel-fernandez-11166708.jpg),
    monteArat: url(../image/img_photographs/MountArat.jpg),
    frontera: url(../image/img_photographs/puente.jpg),
    monteSinai: url(../image/img_photographs/Mount_Moses.jpg),
    piramide: url(../image/img_photographs/torre.jpg),

    aura: url(../image/img_scenary/pexels-tobias-bjørkli-11180711.jpg),
    bolivia: url(../image/img_scenary/Salar-de-Uyuni-Bolivia.jpg),
    colombia: url(../image/img_scenary/Cano-Cristales-Los-Ochos-cano-cristales.com_.jpg)
)