// mixins

    /* Helpers */
    
    @mixin grid($columns: 0, $columnsSize: 1fr, $rows: 0, $rowsSize: 1fr) {
        display: grid;
        grid-template-columns: repeat($columns, $columnsSize);
        grid-template-rows: repeat($rows, $rowsSize);
    }

    .flex-grid{
        display: grid;
    }

    @mixin flex($direction: row, $justify: flex-start, $aling: flex-start) {
        display: flex;
        flex-direction: $direction;
        justify-content: $justify;
        align-items: $aling;
    }

    .flex-row{
        display: flex;
    }
    
    .flex-column{
        display: flex;
        flex-direction: column;
    }
    
    .here{
        text-align: center;
    }

    .here__link{
        text-decoration:line-through;
        text-decoration-color: $third;
    }
    
    // photograps

    @mixin bg-styleb($name) {
        background: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), map-get($imagenes, $name);

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
        border-radius: 12px;
    
        width: 100%;
        height: 100%;
    }

    // scenary

    @mixin paisaje-content($name) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), map-get($imagenes, $name); 
        background-size: cover;
        background-position: center;
    }