// mixins

    /* Helpers */
    .flex-grid{
        display: grid;
    }
    .flex-row{
        display: flex;
    }
    
    .flex-column{
        display: flex;
        flex-direction: column;
    }
    
    .fontsizee{
        font-size: 1.6rem;
    }
    
    .here{
        text-align: center;
    }

    .here__link{
        text-decoration:line-through;
        text-decoration-color: $third;
    }
    