// Normalize

    /* Globals */
    html{ 
        font-size: 62.5%;
    }
    
    ul{
        list-style-type: none;
    }
    
    a{
        text-decoration: none;
        color: var(--secondary);
        display: inline-block;
    }   
    
    body{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),url(../image/img_index/fondo.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: inherit;
        line-height: inherit;
        background-color:  inherit;
    }
    
    .text {
        color: $secondary;
      }  
    